In [1]:
import pandas as pd

In [2]:
file_path = input("*Enter here Location of your file: ")

In [3]:
df = pd.read_excel(file_path)

FileNotFoundError: [Errno 2] No such file or directory: ''

In [ ]:
unique_sort_values = df['Sort'].unique()

In [ ]:
results_df = pd.DataFrame(columns=['Car Company', 'Total Headlines', 'Total Ad Value'])

In [ ]:
for sort_value in unique_sort_values:
    filtered_data = df[df['Sort'] == sort_value]
    total_headlines = len(filtered_data)
    total_ad_value = filtered_data['Ad Value'].sum()
    
    results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)

/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)
/var/folders/p1/6n3mm44s4xl_xkx63v31vn4c0000gn/T/ipykernel_5583/3261285983.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({'Car Company': sort_value, 'Total Headlines': total_headlines, 'Total Ad Value': total_ad_value}, ignore_index=True)

In [ ]:
results_df = results_df.sort_values(by='Total Headlines', ascending=False)

In [ ]:
top_3_rows = results_df.head(3)

In [ ]:
top_3_rows

   Car Company Total Headlines Total Ad Value
11      Toyota             476    71465551.13
7   Mitsubishi             280    33796402.63
8       Nissan             263    34540153.37

TASK 3

In [ ]:
df['MV Name'] = df['MV Name'].str.strip().replace('', 'No Author')

In [ ]:
toyota_data = df[df['Sort'] == 'Toyota']

In [ ]:
toyota_summary = toyota_data.groupby('MV Name')['AVE Value'].sum().reset_index()

In [ ]:
sorted_mv_names = toyota_summary.sort_values('AVE Value', ascending=False)

In [ ]:
names= sorted_mv_names.head(3)

In [ ]:
names

        MV Name    AVE Value
74    No Author  60121888.22
65  Mb Business   8320200.00
71            N   1925722.60

TASK 2

In [ ]:
toyota_data = df[df['Sort'] == 'Toyota']

In [ ]:
headlines_summary = toyota_data.groupby('Headline')['AVE Value'].sum().reset_index()
sorted_headlines = headlines_summary.sort_values('AVE Value', ascending=False)

In [ ]:
top_3_headlines = sorted_headlines.head(3)
print("Top 3 Headlines for Toyota:")
print(top_3_headlines[['Headline', 'AVE Value']].reset_index(drop=True))

Top 3 Headlines for Toyota:
                                          Headline   AVE Value
0  What’s Now, What’s New, What’s Next in Business  8320200.00
1               GEELY LISTENED, AND THEY DELIVERED  4362102.72
2                                    Toyota Innova  4113146.94

In [ ]:
non_toyota_data = df[df['Sort'] != 'Toyota']

In [ ]:
company_summary = non_toyota_data.groupby('Sort')['AVE Value'].sum().reset_index()
sorted_companies = company_summary.sort_values('AVE Value', ascending=False)

In [ ]:
top_3_companies = sorted_companies.head(3)

In [ ]:
top_3_headlines = non_toyota_data[non_toyota_data['Sort'].isin(top_3_companies['Sort'])].groupby('Sort')['Headline'].first().reset_index()
top_3_companies_with_headlines = pd.merge(top_3_companies, top_3_headlines, on='Sort')

In [ ]:
print("Top 3 Companies (excluding Toyota) and their Top Headlines:")
print(top_3_companies_with_headlines[['Sort', 'Headline', 'AVE Value']].reset_index(drop=True))

Top 3 Companies (excluding Toyota) and their Top Headlines:
         Sort                               Headline    AVE Value
0      Nissan         Unrealistic economic forecasts  53753864.70
1  Mitsubishi     Japan's light rail vehicles arrive  52869297.00
2         Kia  PBA's trade committee to decide on CJ  42518166.31

In [ ]:
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a') as writer:
    writer.book = writer.book
    top_3_headlines.to_excel(writer, sheet_name='Task 2', index=False)
    top_3_companies_with_headlines.to_excel(writer, sheet_name='Task 2.1', index=False)
    top_3_rows.to_excel(writer, sheet_name='Task 1', index=False)
    names.to_excel(writer, sheet_name='Task 3', index=False)